#input{
    height: 400px;
    width: 500px;
    border-radius: 10px;
    position: relative;
    vertical-align: middle;
}
#checkLinksBtn{
   
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-top: 20px;
}
#checkLinksBtn:hover{
    background-color: #16437E;
  color: #ffffff;
}

.container{
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
    background: rgb(133,181,134);
background: linear-gradient(90deg, rgba(133,181,134,1) 0%, rgba(106,111,106,1) 0%, rgba(151,195,194,1) 40%, rgba(60,187,185,1) 77%);
height: auto;
}

#links{
    background-color: white;
    height: auto;
    width: 500px;
    position: relative;
    justify-content: space-around;
    text-align: center;
    margin-left: 400px;
    align-items: center;
    border-radius: 10px;
}
